.chart1{
    max-width: 500px !important;
    max-height: 200px !important;
    margin: 20px 10px;
}

.results ul{
   list-style-type: none;
}

.chart2, .chart3{
    max-width: 300px !important;
    max-height: 300px !important;
    margin: 20px 10px;
}

.flex-horiz{
    display: flex;
}